[Unit]
Description=Refresh GUNP department ping statuses
After=network.target
OnFailure=gunp-alert@%n.service

[Service]
Type=oneshot
User=poweredge
Group=poweredge
WorkingDirectory=/home/poweredge/projects/чат фінал майже/чат фінал майже/GUNP/gunp_django
Environment="PATH=/home/poweredge/projects/чат фінал майже/чат фінал майже/GUNP/gunp_django_venv/bin"
EnvironmentFile=/home/poweredge/projects/чат фінал майже/чат фінал майже/GUNP/gunp_django/.env
ExecStart="/home/poweredge/projects/чат фінал майже/чат фінал майже/GUNP/gunp_django_venv/bin/python3" "manage.py" "refresh_department_statuses"
