{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Змінити пароль</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="current_password" class="form-label">Поточний пароль</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">Новий пароль</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Змінити</button>
    </form>
</div>
{% endblock %}